  /* Estilos para las cards */
  .movie-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
  
  .movie-card {
    width: 18%;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    background-color: #d41515;
    padding: 10px;
    position: relative;
  }
  
  .movie-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }
h2 {
  color: #000;
}
